/*MY CARD'S CLASSES*/

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
h4 {
 vertical-align: text-top;
}

.no-margin-sides {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media only screen and (min-width: 1200px) {
    .master-buffers {
    margin-left: 160px;
    margin-right: 160px;
  }
}

@media only screen and (max-width: 1199px) {
    .master-buffers2 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.wipe-margins {
  margin: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.no-pad-bot {
  padding-bottom: 0px !important;
}

.white-background {
  background-color: white !important;
}

.recipy-background {
  background-color: rgb(226,226,226);
}

.jc-center {
  justify-content: center !important;
}

.sm-margin-top {
  margin-top: 5px;
}

.sm-margin-bottom {
  margin-bottom: 5px !important;
}

.sm-pad {
  padding: 5px;
}

.text-white {
  color: white !important;
}

.align-self-center {
  align-self: center !important;
}

.align-items-center {
  align-items: center !important;
}

.hr-align-text-right {
  text-align: right !important;
}

.hr-align-text-center {
  text-align: center!important;
}

.pushtext-left {
  text-align: left;
}

.mynavbar-height {
  align-items: center !important;
}

.vert-align-middle {
  vertical-align: middle !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  margin-top: 15px !important; /*my addition*/
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex-basis:100%;
}

.top-details-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex-basis:100%;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle; /*USEFUL COMMAND HERE*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}




.fixed-top {
  position: relative;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10, .row-11, .row-12, .row,
.row-auto, .row-sm-1, .row-sm-2, .row-sm-3, .row-sm-4, .row-sm-5, .row-sm-6, .row-sm-7, .row-sm-8, .row-sm-9, .row-sm-10, .row-sm-11, .row-sm-12, .row-sm,
.row-sm-auto, .row-md-1, .row-md-2, .row-md-3, .row-md-4, .row-md-5, .row-md-6, .row-md-7, .row-md-8, .row-md-9, .row-md-10, .row-md-11, .row-md-12, .row-md,
.row-md-auto, .row-lg-1, .row-lg-2, .row-lg-3, .row-lg-4, .row-lg-5, .row-lg-6, .row-lg-7, .row-lg-8, .row-lg-9, .row-lg-10, .row-lg-11, .row-lg-12, .row-lg,
.row-lg-auto, .row-xl-1, .row-xl-2, .row-xl-3, .row-xl-4, .row-xl-5, .row-xl-6, .row-xl-7, .row-xl-8, .row-xl-9, .row-xl-10, .row-xl-11, .row-xl-12, .row-xl,
.row-xl-auto {
  position: relative;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.pad-top-0 {
  padding-top: 0px !important;
}

.row {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-height: 100%;
}

.row-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: auto;
  max-height: 100%;
}

.row-1 {
  -ms-flex: initial;
  flex: initial;
  max-height: 8.333333%;
}

.row-2 {
  -ms-flex: 0;
  flex: 0;
  max-height: 16.666667%;
}

.row-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-height: 25%;
}

.row-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-height: 33.333333%;
}

.row-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-height: 41.666667%;
}

.row-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-height: 50%;
}

.row-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-height: 58.333333%;
}

.row-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-height: 66.666667%;
}

.row-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-height: 75%;
}

.row-10 {
  -ms-flex: initial;
  flex: initial;
  max-height: 83.333333%;
}

.row-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-height: 91.666667%;
}

.row-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-height: 100%;
}

.card-image{
  width: 100%;
}

.card-text {
  font-size: 1rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding: 15px;
}